{% extends 'base.html' %}
{% block title %}
Dash-Board
{% endblock %}

{% block content %}
<div class="container">
    <div class="title">
        <h5>Overview</h5>
    </div><br>
    <div class="row d-flex justify-content-around">


        {%for dt , v in data.items() %}
        <div class="card text-center shadow w-25 m-2">
            <div class="{{'card-header font-weight-bold bg-'+dt}}">
                {{dt}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{dt}} </h5>
                <h1>{{v}}</h1>
            </div>
            <div class="card-footer text-muted">
                <p>Created by:</p>
                {{user.fname}}
            </div>
        </div><br>
        {%endfor%}
    </div>

</div><br><br>
{%if high > 0 %}
<div class="container border-start">
    <div class="title">
        <h5><span class="badge badge-danger">HIGH </span> priority Tasks</h5>
        <p>Tasks that have High priority tag and they are not Completed!!</p>
    </div><br>

    <div class="row d-flex justify-content-around">

        <div class="card border border-danger shadow text-center w-25 m-2 ">
            <div class="card-header font-weight-bold bg-danger">
                <h5>Not Completed</h5>

            </div>
            <div class="card-body">
                <h5 class="card-title"> The number of tasks that have <span class="badge badge-danger">High</span> Tag
                </h5>
                <h1>{{high}}</h1>
            </div>
            <div class="card-footer text-muted">
                <p>Created by:</p>
                {{user.fname}}
            </div>
        </div>
    </div>

</div>
{%endif%}
{% endblock %}